.messages {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
  }
.startedAt{
  font-size: 10px;
  font-weight: 900;
  margin: 30px;
  color: #759efb;
  text-align: center;
}



@media (min-width:100px) and (max-width:1000px){
  .messages {
    padding: 2% 0;
   
  }
  
}