.outerContainer {

  display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #f7fafc
}

.container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

}
