.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #f7fafc;
  width: 100%;
  margin-top: 30px;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: rgb(0, 0, 0);
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 2%;
}


@media (min-width:100px) and (max-width:1000px){

  .infoBar{
    margin-top: 60px;
  }
}