.messageBox {
  border-radius: 40px;
    padding: 15px 20px;
    max-width: 70%;
    font-size: smaller;
    font-weight: 900;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-size: smaller;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #749fff;
}

.backgroundBlue {
   background: #749fff;
    box-shadow: 9px 7px 20px #00000033;
}

.backgroundLight {
  background: #ffffff;
    box-shadow: -9px 11px 20px 0px #0000000f;
    margin-top: 3px;
}